numpy==1.24.3
pandas
matplotlib
seaborn
tensorflow==2.16.2
keras
xgboost
scikit-learn
nltk
spacy
wordcloud
textblob
statsmodels
joblib
beautifulsoup4
requests
urllib3
fuzzywuzzy
python-Levenshtein
openpyxl
gdown
streamlit
